.device-price-slider-box {
    width: 600px;
    background: #343a40;
    padding: 15px 30px;
    box-shadow: 0 7px 0 0 rgb(39, 39, 39);
}

input[type=range] {
    -webkit-appearance: none;
    /* Hides slider so that custom slider can be made */
    width: 100%;
    /* Specific width is required for Firefox */
    background: transparent;
    /*  Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
    /* Removes the blue border */
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}


/* Special styling for Webkit/Blink */

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 36px;
    width: 36px;
    border-radius: 25px;
    background: #2af5ff;
    cursor: pointer;
    margin-top: -14px;
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 0 7px 0 0 rgb(39, 39, 39);
}


/* All the same stuff for Firefox */

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    /* some ugly styling */
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    background: white;
    cursor: pointer;
}


/* All the same stuff for IE */

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: inset 0 7px 0 0 rgb(39, 39, 39);
    background: #2af5ff;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: inset 0 7px 0 0 rgb(39, 39, 39);
    background: transparent;
    border-width: 16px;
    color: transparent;
}