/* You can add global styles to this file, and also import other style files */

body {
    background: #963484;
    /* background: #631d76; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: white;
}

h3 {
    margin-bottom: 30px;
    font-size: 18px;
    /* text-shadow: 0 7px rgb(39, 39, 39); */
}